
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>a.com</title>
</head>
<body>

    <div>
        <div>当前站点：www.a.com</div>
        @if (ViewBag.v as string != "error")
            {

            <div>登录成功,当前用户：@ViewBag.v</div>
            <a href="http://localhost:8055/login/loginOut?redirect_url=http://localhost:8051&token=@(ViewBag.token)">退出</a><br />
          
        }
        else
        {
            <a href="http://localhost:8055/login?redirect_url=http://localhost:8051">登录</a><br />
          
        }
        <a href="http://localhost:8052">跳转到www.b.com</a>

    </div>

</body>
</html>
